.container{
    padding: 50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    background-color: rgb(185, 227, 247);
    min-height: 85vh;
}

.container .heading{
    /* background-color: blueviolet;*/
    margin: 0 auto;
    max-width: 550px;
    /* background-clip: text; */
    color: #000;
    line-height: 3.3rem;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.heading span{
    background-clip: text;
    background-image: linear-gradient(to right ,#bb98d0bc,#d1c7e3);
    color: transparent;
}

.right_side img{
    width: 400px;
    /* height: 200px; */

}